ocp_common_config: './samples/deploy_ocp_cluster/override_config.yaml'
ocp_config: './samples/2_cluster_acm_setup/override_config.yaml'
ocp_hub_config: './samples/2_cluster_acm_setup/override_hub_config.yaml'
ocp_sub_config: './samples/configure_submariner/override_config.yaml'
ocp_hub_sub_config: './samples/configure_submariner/override_hub_config.yaml'
schedule_time_cleanup: '23:00'
schedule_time_deploy_common: '09:15'
schedule_time_deploy: '08:30'
schedule_time_deploy_sub: '10:30'
webhook_url: ''