ocp_config: './config/2_cluster_acm_setup/override_config.yaml'
ocp_hub_config: './config/2_cluster_acm_setup/override_hub_config.yaml'
ocp_sub_config: './config/configure_submariner/override_config.yaml'
ocp_hub_sub_config: './config/configure_submariner/override_hub_config.yaml'
schedule_time_cleanup: '00:00'
schedule_time_deploy: '00:00'
schedule_time_deploy_sub: '00:00'
webhook_url: ''